	<div class="portletBackground">
	</div>
	
	<div class="portletContent" id="headerfragmentContent">
		
		<div class="portletHeader">
			Header Portlet
			<div id="headerPortletMenu">
			
			</div>
		</div>
		<div class="portletInnerContent" id="">
			<div id="infoBox">
                    <u>Die Praxis ist Offen</u><br>
                    von 09:00 Uhr<br>
					bis  18:00 Uhr<br>
                </div>
		</div>
		
	</div>
<script type="text/javascript">
<!--
$( document ).ready(function() {
	loadjscssfile("http://localhost/html5/?action=requestCSS&css=headerfragment","css");
	});
-->
</script>
                                
            