<div class="portletBackground">
	</div>
		
	<div class="portletContent">
		
		<div class="portletHeader">
			Select form 
			<div id="selectFormPortletMenu">
				<div class="selectFormPortletMenuItem" style="background:url(edit-file_generic_plain_center_16x16.png) no-repeat;">Load Template</div>
			<div class="selectFormPortletMenuItem" style="background:url(upload_generic_plain_center_16x16.png) no-repeat;">Load CDA</div>
			<div class="selectFormPortletMenuItem" onclick="sync();" style="background:url(synchronize_generic_plain_center_16x16.png) no-repeat;">Re-Sync</div>
		</div>
		</div>
		<div class="portletInnerContent" id="formsSelectContent">
			<div class="formsSelectRow" > Select Synchronize </div>
		</div>
</div>